body {
  text-align: center;
  background: aquamarine;
}

.content {
  margin: auto;
  width: 60%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 10px;
}

a {
  text-decoration: none;
  color: green;
}
